.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 2.5em;
  font-family: "Calibri", sans-serif;
  font-weight: 700;
}

.checkbox__emulator {
  position: absolute;
  margin-left: -2.5em;
  width: 24px;
  height: 24px;
  background-color: var(--color-light);
  border-radius: 4px;
}

.checkbox__input:checked + .checkbox__emulator {
  background-image: url('../../image/form/check.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: translate(-50% -50%);
}