.menu-overlay__list {
  display: flex;
  flex-direction: column;
  align-items: start;

  color: var(--color-light-opacity);
  font-weight: 700;
  font-family: var(--font-family-bold);
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}


.menu-overlay__list:not(:last-child) {
  row-gap: 24px;
}

.menu-overlay__item {
  display: inline-block;
  width: 100%;
}

.menu-overlay__dropdown summary {
  position: relative;
  list-style: none;
}

.menu-overlay__dropdown summary::after {
  --arrowSize: 0.25em;
  content: '';
  position: absolute;

  width: 0; 
  height: 0;
  left: 7em;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-inline: var(--arrowSize) solid transparent;
  border-block-start: var(--arrowSize) solid currentColor;
}

.menu-overlay__dropdown[open] summary {
  color: var(--color-light);
  margin-bottom: 24px;
}

.menu-overlay__dropdown-body {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--color-blue);
}

.menu-overlay__dropdown-link:not(:last-child) {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-light);
}

.menu-overlay__dropdown-link:not(:first-child) {
  padding-top: 8px;
}

.menu-overlay__link {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  height: 100%;
  color: var(--color-light-opacity);

}

.menu-overlay__link:hover,
.menu-overlay__link:active {
  color: var(--color-light);
  opacity: 1;
}

.menu-overlay__button {
  padding: 16px 32px;
  font-size: 16px;
}
