
.pin-file__label {
  display: inline-flex;
  column-gap: 8px;
  align-items: center;

  background-color: var(--color-accent);
  padding: 8px 16px 8px 8px;
  border-radius: var(--border-radius);
  color: var(--color-dark);
  transition-duration: var(--transition-duration);
}

.pin-file__label:hover, .pin-file__label:active {
  opacity: 0.8;
}

.pin-file__text {
  text-decoration: underline  ;
}