:root {
  --color-dark: #000;
  --color-dark-alt: #666;
  --color-accent: #f7a420;
  --color-light: #fff;

  --border-radius: 32px;

  --font-family-base: 'Calibri Regular', sans-serif;

  --section-padding-y: 80px;

  --container-padding-x: 20px;
  --container--width: 1400px;

  --input-height: 64px;
  --button-height: 64px;

  --transition-duration: 0.3s;

  
}